body{
    margin: 1%;
    padding: 5%;
    margin-top: 0%;
    padding-top: 0.5%;
    background-color: white;
    font-size: 18px;
}
.nav_menu{
    display: flex;
    justify-content: center;
}
.navbar-custom .navbar-text { 
    color: rgb(132, 158, 215); 
}
.title{
    color: rgb(132, 158, 215);
    font-size: 35px;
    text-align: center;
    font-family: gloria hallelujah, "Indie Flower", sans-serif;
    font-weight: bold;
    padding: 20px;
}
.subtitle{
    color: rgb(132, 158, 215);
    font-size: 25px;
    text-align: center;
    font-family: avenir, sans-serif;
    font-weight: bold;
    padding: 12px;
    margin-top: 1%;
}
.paragraph{
    display: flex;
    color: #000000;
    font-family: avenir, sans-serif;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
    hyphens: auto;
    padding-bottom: 1%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.item{
    flex-basis: auto;
    height: auto;
    max-height: 100%;
    width: 70%;
    padding: 15px;
}
li{
    font-family: gloria hallelujah, "Indie Flower", sans-serif;
}
ul{
    list-style: none;
}

.item2{
    flex-basis: auto;
    height: auto;
    width: 45%;
    max-height: 75%;
    padding: 0.5%;
    background-color:rgb(132, 158, 215);
}
h2{
    color:rgb(132, 158, 215) ;
    font-family: gloria hallelujah, "Indie Flower", sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
